footer.bg-dark.text-white.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-lg-around.pt-2
    - currentYear = new Date().getFullYear();
    p &copy;#{currentYear} West Virginia Coding Club
    p Bugs or dead links? Contact #[a(href="mailto:admin@wvhelp4teens.org") admin@wvhelp4teens.org]