doctype html

html(lang="en")
    include partials/head
    body
        block content
        each js, index in scripts
            if scriptHashes[index]
                script(type="application/javascript", src=js, integrity=scriptHashes[index], crossorigin="anonymous")
            else
                script(type="application/javascript", src=js)