extends layout

block content
    h1.display-4 Topic Listing

    p.mt-5 Select one of the topic cards below to retrieve a list of resource relating to that topic.

    .w-75.h-100.d-flex.flex-column.align-items-center.justify-content-center
        .row
            each topic in topics
                .col-12.col-sm-6.col-md-4.col-lg-3.topic
                    a.btn.btn-dark.btn-block.my-2(href=`/topics/${topic.id}`)
                        h5.card-title= topic.name