doctype html

html(lang="en").h-100
    include partials/head
    body.d-flex.flex-column.h-100
        include partials/header
        .container-fluid.flex-grow-1.flex-shrink-0.d-flex.flex-column.align-items-center
            block content
        include partials/footer
        each js, index in scripts
            if scriptHashes[index]
                script(type="application/javascript", src=js, integrity=scriptHashes[index], crossorigin="anonymous")
            else
                script(type="application/javascript", src=js)