footer.mt-5.flex-shrink-0.bg-dark.text-white.d-flex.flex-column.align-items-center.pt-2
    div.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-lg-around.w-100.w-lg-75.text-center
        - currentYear = new Date().getFullYear();
        p &copy;#{currentYear} West Virginia Coding Club
        p Bugs or dead links? Contact #[a(href="mailto:admin@wvhelp4teens.org") admin@wvhelp4teens.org]

    p.mx-2.disclaimer.
            This web site and its agents make no promises, guarantees, representations, or warranties, expressed or implied, and assume no duty or liability with regard to the information contained herein or associated in any way therewith.
            
            No legal or other professional services are being rendered and nothing is intended to provide such services or advice of any kind.
            
            The inclusion of external hyperlinks does not constitute endorsement, recommendation, or approval of those sites or their contents. This web site bears no responsibility for the accuracy, legality or content of the external sites or for that of subsequent links.
            
            Those who visit or use this web site, links, or any other information assume all risks associated therewith.