// Topic pages
.topic {
    a {
        text-decoration: none;

        &,
        &:visited {
            color: white;
        }

        &:hover {
            color: #888;
        }
    }
}

ul.resources {
    list-style: none;
}

img.topic-logo {
    max-width: 480px;
}

img.main-logo {
    max-width: 320px;
}

// Disclaimer
p.disclaimer {
    font-size: 10px;
}
