// Sticky footer
body {
    // Extend height to 100% of viewport height
    height: 100vh;
}

// Topic pages
.topic {
    a {
        text-decoration: none;

        &,
        &:visited {
            color: white;
        }

        &:hover {
            color: #888;
        }
    }
}

ul.resources {
    list-style: none;
}

img.topic-logo {
    max-width: 480px;
}
